<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIAppFonts</key>
    <array>
        <string>shafarik_regular.otf</string>
    </array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Расскажите, чего не хватило.</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Удаляете? Напишите почему.</string>
			<key>UIApplicationShortcutItemType</key>
			<string>software.kanunnikoff.Glagolitsa.DeleteFeedback</string>
		</dict>
	</array>
</dict>
</plist>
